.Main {
    width: 100%;
    min-height: calc(100vh - 50px - 50px);
    background-color: rgb(236, 240, 243);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 30px;
}